VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_CATEGORIES_COLLECTION_ID=
VITE_APPWRITE_PRODUCTS_COLLECTION_ID=
VITE_APPWRITE_STORAGE_BUCKET_ID=
VITE_APPWRITE_ADMIN_USER_ID=
VITE_WHATSAPP_NUMBER=919876543210
VITE_INSTAGRAM_URL=https://instagram.com/regalstudio
